<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lirins.cn.mapper.SaleOrderReceiveMapper">
  <resultMap id="BaseResultMap" type="com.lirins.cn.entity.SaleOrderReceive">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_type" jdbcType="CHAR" property="orderType" />
    <result column="booking_time" jdbcType="TIMESTAMP" property="bookingTime" />
    <result column="order_motion" jdbcType="CHAR" property="orderMotion" />
    <result column="business_type" jdbcType="CHAR" property="businessType" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="consignee_id" jdbcType="BIGINT" property="consigneeId" />
    <result column="order_payer" jdbcType="VARCHAR" property="orderPayer" />
    <result column="order_payment" jdbcType="CHAR" property="orderPayment" />
    <result column="order_state" jdbcType="CHAR" property="orderState" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_type, booking_time, order_motion, business_type, user_account, consignee_id, 
    order_payer, order_payment, order_state, add_time, creator_id, update_time, update_id
  </sql>
  <select id="selectByExample" parameterType="com.lirins.cn.entity.SaleOrderReceiveExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_sale_order_receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sale_order_receive
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sale_order_receive
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.lirins.cn.entity.SaleOrderReceiveExample">
    delete from t_sale_order_receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lirins.cn.entity.SaleOrderReceive">
    insert into t_sale_order_receive (id, order_type, booking_time, 
      order_motion, business_type, user_account, 
      consignee_id, order_payer, order_payment, 
      order_state, add_time, creator_id, 
      update_time, update_id)
    values (#{id,jdbcType=BIGINT}, #{orderType,jdbcType=CHAR}, #{bookingTime,jdbcType=TIMESTAMP}, 
      #{orderMotion,jdbcType=CHAR}, #{businessType,jdbcType=CHAR}, #{userAccount,jdbcType=VARCHAR}, 
      #{consigneeId,jdbcType=BIGINT}, #{orderPayer,jdbcType=VARCHAR}, #{orderPayment,jdbcType=CHAR}, 
      #{orderState,jdbcType=CHAR}, #{addTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lirins.cn.entity.SaleOrderReceive">
    insert into t_sale_order_receive
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderType != null">
        order_type,
      </if>
      <if test="bookingTime != null">
        booking_time,
      </if>
      <if test="orderMotion != null">
        order_motion,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="consigneeId != null">
        consignee_id,
      </if>
      <if test="orderPayer != null">
        order_payer,
      </if>
      <if test="orderPayment != null">
        order_payment,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderType != null">
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="bookingTime != null">
        #{bookingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMotion != null">
        #{orderMotion,jdbcType=CHAR},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=CHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="orderPayer != null">
        #{orderPayer,jdbcType=VARCHAR},
      </if>
      <if test="orderPayment != null">
        #{orderPayment,jdbcType=CHAR},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lirins.cn.entity.SaleOrderReceiveExample" resultType="java.lang.Long">
    select count(*) from t_sale_order_receive
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_sale_order_receive
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderType != null">
        order_type = #{record.orderType,jdbcType=CHAR},
      </if>
      <if test="record.bookingTime != null">
        booking_time = #{record.bookingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderMotion != null">
        order_motion = #{record.orderMotion,jdbcType=CHAR},
      </if>
      <if test="record.businessType != null">
        business_type = #{record.businessType,jdbcType=CHAR},
      </if>
      <if test="record.userAccount != null">
        user_account = #{record.userAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.consigneeId != null">
        consignee_id = #{record.consigneeId,jdbcType=BIGINT},
      </if>
      <if test="record.orderPayer != null">
        order_payer = #{record.orderPayer,jdbcType=VARCHAR},
      </if>
      <if test="record.orderPayment != null">
        order_payment = #{record.orderPayment,jdbcType=CHAR},
      </if>
      <if test="record.orderState != null">
        order_state = #{record.orderState,jdbcType=CHAR},
      </if>
      <if test="record.addTime != null">
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.creatorId != null">
        creator_id = #{record.creatorId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null">
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_sale_order_receive
    set id = #{record.id,jdbcType=BIGINT},
      order_type = #{record.orderType,jdbcType=CHAR},
      booking_time = #{record.bookingTime,jdbcType=TIMESTAMP},
      order_motion = #{record.orderMotion,jdbcType=CHAR},
      business_type = #{record.businessType,jdbcType=CHAR},
      user_account = #{record.userAccount,jdbcType=VARCHAR},
      consignee_id = #{record.consigneeId,jdbcType=BIGINT},
      order_payer = #{record.orderPayer,jdbcType=VARCHAR},
      order_payment = #{record.orderPayment,jdbcType=CHAR},
      order_state = #{record.orderState,jdbcType=CHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      creator_id = #{record.creatorId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lirins.cn.entity.SaleOrderReceive">
    update t_sale_order_receive
    <set>
      <if test="orderType != null">
        order_type = #{orderType,jdbcType=CHAR},
      </if>
      <if test="bookingTime != null">
        booking_time = #{bookingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderMotion != null">
        order_motion = #{orderMotion,jdbcType=CHAR},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=CHAR},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="consigneeId != null">
        consignee_id = #{consigneeId,jdbcType=BIGINT},
      </if>
      <if test="orderPayer != null">
        order_payer = #{orderPayer,jdbcType=VARCHAR},
      </if>
      <if test="orderPayment != null">
        order_payment = #{orderPayment,jdbcType=CHAR},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=CHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lirins.cn.entity.SaleOrderReceive">
    update t_sale_order_receive
    set order_type = #{orderType,jdbcType=CHAR},
      booking_time = #{bookingTime,jdbcType=TIMESTAMP},
      order_motion = #{orderMotion,jdbcType=CHAR},
      business_type = #{businessType,jdbcType=CHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      consignee_id = #{consigneeId,jdbcType=BIGINT},
      order_payer = #{orderPayer,jdbcType=VARCHAR},
      order_payment = #{orderPayment,jdbcType=CHAR},
      order_state = #{orderState,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>